{% extends "base.html" %}


{% block content %}
<br><br><br><br>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to CodeMistri!!!</h1>
        <p class="lead">A Simple Online judge to let programmers test their code against given problems.</p>
        <hr class="my-4">
        <p>Thousands of online judges are available now a days. This might be one of them, containing several problems
            from around many mathematical subtopics</p>
        <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

{% endblock content %}